
*.pdb
*.props
*.config
*.dex
*.zip
*.class
*.jar
Securoserv/Securoserv.Android/obj/Debug/android/bin/packaged_resources
*.ll
*.o
*.java
*.flag
*.so
*.flat
*.xml
*.flata
*.apk
*.aidl
*.properties
*.targets
*.exe
*.CopyComplete
*.rsp
*.list
*.m
*.a
Securoserv/Securoserv.iOS/obj/iPhoneSimulator/Debug/mtouch-cache/arguments
*.plist
*.items
